{% load staticfiles %}
<!-- Footer -->
<footer class="navbar navbar-blue bg-dark mb-0" id="nav-footer">
    <div class="container" style="text-align: center; color: lightgrey;">
        <p class="mb-0 text-lg-center text-white">
            本人博客地址 &copy; <a class="m-0 text-center text-dark"
                             href="https://blog.csdn.net/weixin_43145985"
                             target="_blank">https://blog.csdn.net/weixin_43145985</a>
            感谢您的关注
        </p>
        <p class="mb-0 text-right text-white">&copy;<a class="text-right text-white" href="http://beian.miit.gov.cn"
                                                        target="_blank">津ICP备19008017号</a></p>
    </div>
{#    <div class="container1">#}
{#        <h6 class="mr-0 text-right text-white">&copy;<a class="text-right text-white" href="http://beian.miit.gov.cn"#}
{#                                                        target="_blank">津ICP备19008017号</a></h6>#}
{#    </div>#}
</footer>